@import './global.scss';

.container{
    background-color: var(--DarkModeBackground);
    height: 125vh;
    width: 100%;
    // position: relative;
    // padding: 20px;
    & .countryDetail{
        position: relative;
        top: 20px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 80%;
        max-width: 288px;
        // background-color: blue;
        justify-content: space-between;
        &-back{
            width: 70px;
            height: 25px;
            background-color: var(--DarkModeElements);
            border-radius: 2px;
            box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
            color: var(--LightModeBackground);
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-size: 1.2rem;
        }
        &-card{
            width: 100%;
            height: 85%;
            & figure{
                height: 40%;
                & img{
                    width: 100%;
                    max-width: 288px;
                    max-height: 172px;
                }
            }
            &-info{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 60%;
                & ul{
                    list-style: none;
                }
                & > p{
                    font-size: 1.6rem;
                    font-weight: 800;
                    color: var(--LightModeBackground);
                }
                & div{
                    & ul{
                        display: flex;
                        flex-direction: column;
                        & li{
                            color: var(--LightModeBackground);
                            font-size: 1.1rem;
                            & span{
                                color: var(--DarkLightModeInput);
                            }
                        }
                    }
                }
                &-prim{
                    height: 90px;
                    & ul{
                        height: 100%;
                        justify-content: space-between;
                    }
                }
                &-sec{
                    height: 50px;
                    & ul{
                        height: 100%;
                        justify-content: space-between;
                    }
                }
                &-borders{
                    width: 100%;
                    height: 45%;
                    max-height: 80px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    & p{
                        font-size: 1.3rem;
                        font-weight: 600;
                        color: var(--LightModeBackground);
                    }
                    &-list.list{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        // height: 80%;
                        height: 75%;
                        align-items: center;
                        & li{
                            padding: 5px 10px;
                            color: var(--LightModeBackground);
                            border-radius: 2px;
                            margin-right: 10px;
                            box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
                            background-color: var(--DarkModeElements);
                        }
                    }
                }
            }
        }
    }
}